
.container {
    margin: 0 auto;
    width: 1208px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header li{
    padding-left: 20px;
     list-style: none;
}
.header li a {
    color: #5b5b5b;
    font-size: 16px;
}
