li ,a{
    color: #5b5b5b;
    text-decoration: none;
    list-style: none;
}
.container {
    margin: 0 auto;
    width: 1208px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 a {
    font-size: 24px;
    font-weight: 700;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header li{
    padding-left: 20px;
}
.header li a {
    font-size: 16px;
}
