li ,a{
    text-decoration: none;
    list-style: none;
}
img {
    width: 100%;
}
body{
    background-
}
.container {
    margin: 0 auto;
    width: 1208px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 a {
    font-size: 24px;
    font-weight: 700;
     color: #B2D430;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header li{
    
    padding: 10px 10px 20px;
}
.header li.active{
    border-bottom: 2px solid #B2D430;
}

.header li a {

    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 0;
    color: #000;
    font-size: 14px;
    letter-spacing: .2em;
}
.product {
    text-align: center;
    margin-top: 35px;
    background: #B2D430;
}
.product h2{
    padding: 20px 0px;
}
.product-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.item {
    text-align: center;
    background: #ccc;
}
.item button {
    width: 100px;
    border: none;
    padding: 7px;
    margin-bottom: 20px;
    background: #B2D430;
    color: #000;
    font-size: 14px;
    letter-spacing: .2em;
    font-weight: 400;
    text-transform: uppercase;
}
